*
/*@import "compass/css3";*/


.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed; /* <-- Look here */
  right: 0;
  left: 0;
  z-index: 1030;
}

.body {
  background-color: #F7C4AA;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: rgba(136, 191, 138, 0.88);
}

body {}
a, a:link, a:visited, a:hover, a:active {text-decoration:none;}

.info {
  background-color: yellow;
  padding: 10px;
  width: 100%;
}
/*.round {
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 30px;
}*/
img {
  display: block;
  height: auto;
}

#hootie-img {
  float: left;
  border: 0;
  padding: 20px;
  background-color: #4DB0E7;

}

.img-circle {
    border-radius: 30%;
}


.section1 {
    width: 100%;
    height: 450px;
    background-color: #eee;
    background-image: url("hootie-hoo-stories3.jpg");
    background-position: top center;
    display: block;
    position: relative;

}

.section1 h3 {
  width: 100%;
    text-align: center;
    padding-left: 5px;
}
.section2 {
    width: 100%;
    height: 450px;
    background-color: #eee;
    background-image: url("NATS_timeline6.png");
    background-repeat: repeat-x;
    background-position: center top;
    display: block;
    position: relative;
    repeat: no-repeat;
}

.section2 h3 {
    width: 100%;
    text-align: center;
    background-color: #E4FFDA;
    padding-left: 20px;
}

.section3 {
    overflow:auto;
    width: 100%;
    height: 450px;
    background-color: #000;
    display: block;
    position: relative;
    repeat: no-repeat;
}

.section3 h3 {
    width: 100%;
    text-align: center;
    background-color: #000;
    padding-left: 20px;
}

.section3 h4 {
  text-align: center;
  width: auto;
  background-color: #FFF;
  padding: 8px;
  margin-left: 20px;
  margin-right: 20px;
}

.section2 #color{
  text-align: center;
  background-color: #C0A9CE;
  padding: 8px;
  margin-left: 20px;
  margin-right: 20px;
}


.section1 #blue {
    text-align: center;
    background-color: #4DB0E6;
    padding: 8px;
    margin-left: 20px;
    margin-right: 20px;
}


.row #nats-img {
    float: left;
    border: 0;
    padding: 20px;
    background-color: #C0A9CE;
}
.row h3 {
    text-align: left;
    width: 100%;
    padding-top: 10px;
}



.col-sm-9 {
    max-width:inherit;
    width: 50%;
    background-color: #eee;
}

@media (min-width: 992px)
.col-md-12 {
    width: 100%;
    padding-bottom: 20px;
}

@mixin btn ($color, $fsize, $radius) {
  transition: all .25s ease-in-out;

	border:solid .15em darken($color, 10%);
	color: lighten($color, 80%) !important;
	display: inline-block;
	font-family: Century Gothic;
	font-size: $fsize; line-height: $fsize;
	height: $fsize; width: $fsize;
  margin: 1em;
	padding: $fsize/2;
  position:relative;
	text-align:center;

	$color2: darken($color, 15%);
	background-color: $color; // Old browsers
	@include filter-gradient($color, $color2, vertical); // IE6-9
	@include background-image(linear-gradient(top,  $color 43%,$color2 100%));
	@include border-radius($radius);

	@include text-shadow (darken($color,10%) .1em .1em .0em, darken($color,20%) -.05em -.05em .1em);/**/
	i {font-size:$fsize;}
  z-index:1;
  @include box-shadow(0 0 0 .25em #333, 0 0 0 .75em $color);

  &:hover {
    @include border-radius($radius);
    transition: all .25s ease-in-out;
    @include box-shadow(0 0 0 0em #333, 0 0 0 0em transparent);
  }
}


.btn-fb {@include btn(#3a589c, 1em, 50%);}
.btn-tw {@include btn(#12acee, 1em, 10%);}
.btn-li {@include btn(#0372b7, 1em, 0%);}
.btn-gh {@include btn(#db4e32, 1em, 40%);}



.btn-fb {
  transition: all .25s ease-in-out;
  border: solid 0.15em #2c4377;
  color: white !important;
  display: inline-block;
  font-family: Century Gothic;
  font-size: 1.5em;
  line-height: 2em;
  height: 2em;
  width: 2em;
  margin: 1em;
  padding: 0em;
  position: relative;
  text-align: center;
  background-color: #3a589c;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF3A589C', endColorstr='#FF253964');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI0MyUiIHN0b3AtY29sb3I9IiMzYTU4OWMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyNTM5NjQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(43%, #3a589c), color-stop(100%, #253964));
  background-image: -moz-linear-gradient(top, #3a589c 43%, #253964 100%);
  background-image: -webkit-linear-gradient(top, #3a589c 43%, #253964 100%);
  background-image: linear-gradient(to bottom, #3a589c 43%, #253964 100%);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-shadow: #2c4377 0.1em 0.1em 0em, #1e2e52 -0.05em -0.05em 0.1em;
  /**/
  z-index: 1;
  -moz-box-shadow: 0 0 0 0.25em #333, 0 0 0 0.75em #3a589c;
  -webkit-box-shadow: 0 0 0 0.25em #333, 0 0 0 0.75em #3a589c;
  box-shadow: 0 0 0 0.25em #333, 0 0 0 0.75em #3a589c;
}
.btn-fb i {
  font-size: 1.7em;
}
.btn-fb:hover {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  transition: all .25s ease-in-out;
  -moz-box-shadow: 0 0 0 0em #333, 0 0 0 0em transparent;
  -webkit-box-shadow: 0 0 0 0em #333, 0 0 0 0em transparent;
  box-shadow: 0 0 0 0em #333, 0 0 0 0em transparent;
}

.btn-tw {
  transition: all .25s ease-in-out;
  border: solid 0.15em #0e8abf;
  color: white !important;
  display: inline-block;
  font-family: Century Gothic;
  font-size: 1.5em;
  line-height: 2em;
  height: 2em;
  width: 2em;
  margin: 1em;
  padding: 0em;
  position: relative;
  text-align: center;
  background-color: #12acee;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF12ACEE', endColorstr='#FF0C79A7');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI0MyUiIHN0b3AtY29sb3I9IiMxMmFjZWUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYzc5YTciLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(43%, #12acee), color-stop(100%, #0c79a7));
  background-image: -moz-linear-gradient(top, #12acee 43%, #0c79a7 100%);
  background-image: -webkit-linear-gradient(top, #12acee 43%, #0c79a7 100%);
  background-image: linear-gradient(to bottom, #12acee 43%, #0c79a7 100%);
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  text-shadow: #0e8abf 0.1em 0.1em 0em, #0a6890 -0.05em -0.05em 0.1em;
  /**/
  z-index: 1;
  -moz-box-shadow: 0 0 0 0.25em #333, 0 0 0 0.75em #12acee;
  -webkit-box-shadow: 0 0 0 0.25em #333, 0 0 0 0.75em #12acee;
  box-shadow: 0 0 0 0.25em #333, 0 0 0 0.75em #12acee;
}
.btn-tw i {
  font-size: 1.7em;
}
.btn-tw:hover {
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
  border-radius: 10%;
  transition: all .25s ease-in-out;
  -moz-box-shadow: 0 0 0 0em #333, 0 0 0 0em transparent;
  -webkit-box-shadow: 0 0 0 0em #333, 0 0 0 0em transparent;
  box-shadow: 0 0 0 0em #333, 0 0 0 0em transparent;
}

.btn-li {
  transition: all .25s ease-in-out;
  border: solid 0.15em #025385;
  color: white !important;
  display: inline-block;
  font-family: Century Gothic;
  font-size: 1.5em;
  line-height: 2em;
  height: 2em;
  width: 2em;
  margin: 1em;
  padding: 0em;
  position: relative;
  text-align: center;
  background-color: #0372b7;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF0372B7', endColorstr='#FF02436C');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI0MyUiIHN0b3AtY29sb3I9IiMwMzcyYjciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjQzNmMiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(43%, #0372b7), color-stop(100%, #02436c));
  background-image: -moz-linear-gradient(top, #0372b7 43%, #02436c 100%);
  background-image: -webkit-linear-gradient(top, #0372b7 43%, #02436c 100%);
  background-image: linear-gradient(to bottom, #0372b7 43%, #02436c 100%);
  -moz-border-radius: 0%;
  -webkit-border-radius: 0%;
  border-radius: 0%;
  text-shadow: #025385 0.1em 0.1em 0em, #013353 -0.05em -0.05em 0.1em;
  /**/
  z-index: 1;
  -moz-box-shadow: 0 0 0 0.25em #333, 0 0 0 0.75em #0372b7;
  -webkit-box-shadow: 0 0 0 0.25em #333, 0 0 0 0.75em #0372b7;
  box-shadow: 0 0 0 0.25em #333, 0 0 0 0.75em #0372b7;
}
.btn-li i {
  font-size: 1.7em;
}
.btn-li:hover {
  -moz-border-radius: 0%;
  -webkit-border-radius: 0%;
  border-radius: 0%;
  transition: all .25s ease-in-out;
  -moz-box-shadow: 0 0 0 0em #333, 0 0 0 0em transparent;
  -webkit-box-shadow: 0 0 0 0em #333, 0 0 0 0em transparent;
  box-shadow: 0 0 0 0em #333, 0 0 0 0em transparent;
}

.btn-gh {
  transition: all .25s ease-in-out;
  border: solid 0.15em #b93a21;
  color: white !important;
  display: inline-block;
  font-family: Century Gothic;
  font-size: 1.5em;
  line-height: 2em;
  height: 2em;
  width: 2em;
  margin: 1em;
  padding: 0em;
  position: relative;
  text-align: center;
  background-color: #db4e32;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFDB4E32', endColorstr='#FFA4331D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSI0MyUiIHN0b3AtY29sb3I9IiNkYjRlMzIiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNDMzMWQiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(43%, #db4e32), color-stop(100%, #a4331d));
  background-image: -moz-linear-gradient(top, #db4e32 43%, #a4331d 100%);
  background-image: -webkit-linear-gradient(top, #db4e32 43%, #a4331d 100%);
  background-image: linear-gradient(to bottom, #db4e32 43%, #a4331d 100%);
  -moz-border-radius: 40%;
  -webkit-border-radius: 40%;
  border-radius: 40%;
  text-shadow: #b93a21 0.1em 0.1em 0em, #8e2c19 -0.05em -0.05em 0.1em;
  /**/
  z-index: 1;
  -moz-box-shadow: 0 0 0 0.25em #333, 0 0 0 0.75em #db4e32;
  -webkit-box-shadow: 0 0 0 0.25em #333, 0 0 0 0.75em #db4e32;
  box-shadow: 0 0 0 0.25em #333, 0 0 0 0.75em #db4e32;
}
.btn-gh i {
  font-size: 1.7em;
}
.btn-gh:hover {
  -moz-border-radius: 40%;
  -webkit-border-radius: 40%;
  border-radius: 40%;
  transition: all .25s ease-in-out;
  -moz-box-shadow: 0 0 0 0em #333, 0 0 0 0em transparent;
  -webkit-box-shadow: 0 0 0 0em #333, 0 0 0 0em transparent;
  box-shadow: 0 0 0 0em #333, 0 0 0 0em transparent;
}

{
margin:0px;
padding:0px;
outline:none;
-webkit-transition:0.5s;
-moz-transition:0.5s;
-o-transition:0.5s;
-ms-transition:0.5s;
transition:0.5s;
}

/*
{
position:relative;
background-color: red;
padding:0px;
margin:0px;
}*/





nav
{
width:90px;
margin:0 auto;
text-align:center;
overflow:hidden;
}

ul{
margin:0px;
padding:0px;
}

ul li{
margin:0px;
padding:0px;
list-style-type:none;
padding:12px 0px;
background:#42576c;
border-top:1px solid #314151;
cursor:pointer;
width:100%
}

li:hover
{
background:#2f3f4f;
color:#66cca7;
}

ul li:nth-child(1){margin-left:90px;}
ul li:nth-child(2){margin-left:-90px;}
ul li:nth-child(3){margin-left:90px;}
ul li:nth-child(4){margin-left:-90px;}


li:hover .fa
{
color:#66cca7;
-webkit-transform:scale(1);
-moz-transform:scale(1);
-ms-transform:scale(1);
-o-transform:scale(1);
transform:scale(1);
text-shadow:0px 0px 10px #57b698;
}

.fa
{
font-size:2em;
color:#86909a;
-webkit-transform:scale(0.95);
-moz-transform:scale(0.95);
-ms-transform:scale(0.95);
-o-transform:scale(0.95);
transform:scale(0.95);
}



/*.container {
  background-color: #FFFFFF
  padding: 14px 30px; 10px; 20px
  }*/



.header{
  background-color: #FFFFFF
  padding: 14px 10px; 10px; 10px
}


.floater_image {
  float: right;
  display: inline;
  padding-top: 30px;
}

.btn-group {
  float: center;
  display: inline;
  background: transparent;
}
.btn btn-primary{
text: align;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 60px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.lead {
  text-align:justify;
  padding: 15px 60px 15px 60px
  background-color: transparent;
}

#bootstrap-overrides{
background-color:#FFFFFF;
}


.jumbotron p {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 200;
  padding-left: 65px;
  padding-right: 65px;
}



.col-lg-4 a {
    text-decoration: none;
    text-align:justify;
    padding-left: 30px;
}
.col-lg-4 p {
f   family-font: Helvetica Neue;
    text-decoration: none;
    font-size: 18px;
    text-align:justify;
    padding-left: 30px;
}
 .col-lg-4 p a {
    margin-left:30%;
}

.row{
    text-align: center;
    padding: 14px 60px; 10px; 20px
}


.row h2{
    text-align: left;
}
.row h3{
    text-align: left;
}
.row h4{
    text-align: left;
}

/* Customize the nav-justified links to be fill the entire space of the .navbar */

/*.nav-justified {
    background-color: #5e5e5e;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #5e5e5e;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}*/

/*@media (min-width: 768px) {
  .nav-justified {
    max-height: 52px;
  }
  .nav-justified > li > a {
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #fff;
  }
  .nav-justified > li:first-child > a {
    border-left: 0;
    border-radius: 5px 0 0 5px;
  }
  .nav-justified > li:last-child > a {
    border-right: 0;
    border-radius: 0 5px 5px 0;
  }
}*/

/* Responsive: Portrait tablets and up */
/*@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  /*.masthead,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }*/*/
  body {
    background-color: #FBD1A5;
    /*background-image: url(511055.jpg); background-repeat: repeat;*/
    font-family: "Helvetica Neue", Helvetica, Arial,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;

}
.nav-justified {
    background-color: #5e5e5e;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.nav-justified > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0;
  font-weight: bold;
  color: #5e5e5e;
  text-align: center;
  background-color: #e5e5e5; /* Old browsers */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e5e5e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:      -o-linear-gradient(top, #f5f5f5 0%, #e5e5e5 100%);
  background-image:         linear-gradient(to bottom, #f5f5f5 0%,#e5e5e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
  background-repeat: repeat-x; /* Repeat the gradient */
  border-bottom: 1px solid #d5d5d5;
}
.nav-justified > .active > a,
.nav-justified > .active > a:hover,
.nav-justified > .active > a:focus {
  background-color: #ddd;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.15);
}
.nav-justified > li:first-child > a {
  border-radius: 5px 5px 0 0;
}
.nav-justified > li:last-child > a {
  border-bottom: 0;
  border-radius: 0 0 5px 5px;
}
.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #0099cc;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}

.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}
